/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    h1 {
        padding-bottom: 50px;
    }
    .banner-item h1 {
        font-size: 50px;
        padding: 50px 0;
    }
    a.business-btn {
        margin: 0;
        margin-bottom: 60px;
    }
    a.banner-btn {
        margin: 30px 25px 0 0;
    }
    a.business-btn {
        margin: 0;
        margin-bottom: 60px;
    }
    .banner-bg-img {
        background-position: 110%;
    }
    .section-padding {
        padding: 80px 0;
    }
    .text-center h1:after {
        top: 40%;
    }
    .text-center h1 {
        padding-bottom: 50px;
    }
    section.team-area h1:after {
        top: 40%;
    }
    section.portfolio-area li {
        padding: 5px 10px;
    }
    .great-product-img {
        padding-top: 200px;
    }
    section.portfolio-area ul {
        padding-bottom: 25px;
    }
    section.contact-area input[type="text"],
    section.contact-area input[type="email"] {
        width: 100%;
        margin-bottom: 14px;
    }
    section.contact-area input[type="text"]::placeholder,
    section.contact-area input[type="email"]::placeholder,
    section.contact-area textarea::placeholder {
        font-size: 12px;
    }
    .single-blog {
        padding: 20px 0 20px 54%;
    }
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    header.header-area li a {
        padding: 0 10px;
    }

    section.banner-area {
        height: 620px;
    }

    .banner-item h1 {
        font-size: 40px;
        line-height: 50px;
        padding-right: 60px;
    }

    .banner-item h1:after {
        top: 50%;
    }

    a.banner-btn {
        margin: 20px 15px 0 0;
        padding: 10px 15px;
    }

    .section-padding {
        padding: 50px 0;
    }

    h1 {
        font-size: 32px;
    }

    section.business-app-area h1 {
        padding: 40px 0;
        font-size: 32px;
        line-height: 40px;
    }

    h1:after {
        left: 6%;
        top: 30%;
    }
    .banner-bg-img {
        background-image: none;
    }

    section.portfolio-area h1:after {
        top: 26%;
    }
    .logo {
        text-align: center;
        margin-bottom: 10px;
    }

    a.business-btn {
        margin-top: 10px;
    }

    section.free-quote h1 {
        padding: 0;
    }

    a.quote-btn {
        margin-top: 10px;
    }

    .text-center h1 {
        padding-bottom: 30px;
    }

    section.portfolio-area li {
        padding: 20px 10px;
    }

    section.great-product .col-lg-4,
    section.great-product .col-lg-3 {
        padding-top: 0;
    }

    .great-product-img {
        padding: 20px 0 60px;
        text-align: center;
    }

    section.team-area .col-lg-6 {
        padding: 0;
    }

    section.team-area h1 {
        padding: 0 0 30px;
    }

    section.team-area h1:after {
        top: 20%;
        left: 0;
    }

    .team-member {
        padding-top: 40px;
    }

    .team-member img {
        min-width: 100%;
    }

    .social-icons {
        left: 33%;
    }

    .team-member:hover .social-icons {
        visibility: visible;
        opacity: 1;
        top: 77%;
    }

    section.latest-blog h1 {
        padding-bottom: 40px;
    }

    .single-blog {
        margin: 20px 0;
    }

    .single-blog:after {
        border-radius: 0;
    }

    .carousel-cell {
        width: 35%;
    }

    .slider-content {
        padding: 20px;
    }

    section.footer-top h5 {
        padding: 30px 0 10px;
    }

    .footer-top input[type="email"] {
        padding: 15px 120px 15px 15px;
    }

}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    p {
        font-size: 14px;
        line-height: 22px;
    }
    h1 {
        font-size: 28px;
        line-height: 38px;
    }
    h1:after {
        display: none;
    }
    .section-padding {
        padding: 30px 0;
    }
    header.header-area .col-lg-2 {
        position: absolute;
        z-index: 99;
    }

    .logo {
        margin-top: 10px;
    }
    .banner-bg-img {
        background-image: none;
    }
    .padding-bottom-80 {
        padding-bottom: 20px;
    }
    .responsive-mode {
        display: inherit;
    }
    .desktop-mode {
        display: none;
    }
    nav.navigation {
        display: none;
    }
    .slicknav_menu {
        background: none;
        display: inline-block;
        position: absolute;
        right: 5%;
    }
    ul.slicknav_nav {
        background: #000;
        width: 200px;
    }

    ul.slicknav_nav li {
        display: block;
        text-align: left;
    }
    div#mobile-menu {
        text-align: right;
    }


    .slicknav_btn {
        background: none;
        outline: none;
    }


    .slicknav_menu .slicknav_menutxt {
        display: none;
    }

    header.header-area {
        padding: 0;
    }

    .slicknav_menu .slicknav_icon-bar {
        width: 40px;
        height: 3px;
        margin: 5px 0;
    }
    header.header-area {
        position: relative;
        background: #3387ff;
    }

    section.banner-area {
        height: 500px;
    }

    .banner-item h1 {
        font-size: 26px;
        line-height: 30px;
        padding: 14px 0;
    }

    ul.slicknav_nav li a {
        font-weight: 400;
        padding: 10px;
    }

    ul.slicknav_nav li a:hover {
        background: #3387ff;
        color: #fff;
    }

    .slicknav_nav a:hover {
        border: none;
        border-radius: 0;
    }

    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        margin: 0;
    }
    a.banner-btn {
        margin: 10px 10px 0 0;
    }
    div#mobile-menu {
        position: relative;
        height: 70px;
        width: 100%;
        background: #000;
        border: none;
    }

    header.header-area .col-12 {
        padding: 0;
        margin: 0;
    }
    a.banner-btn {
        padding: 8px 12px;
    }
    a.banner-btn {
        padding: 8px 12px;
    }

    h1 {
        font-size: 26px;
        line-height: 32px;
        padding: 20px 0;
    }

    .business-app-area img {
        padding: 0;
    }

    a.business-btn {
        margin-top: 0;
    }

    .business-app-area img {
        padding: 30px 0;
    }

    section.free-quote h1 {
        padding-bottom: 10px;
    }

    a.quote-btn {
        margin: 0;
    }

    .text-center h1 {
        padding-bottom: 10px;
    }

    section.portfolio-area li {
        padding: 0 5px;
        word-spacing: 5px;
        line-height: 24px;
    }

    section.great-product .col-lg-4,
    section.great-product .col-lg-3 {
        padding-top: 0;
        padding-bottom: 20px;
    }

    section.team-area .col-lg-6 {
        padding-top: 0;
    }

    section.team-area h1 {
        padding-right: 0;
    }

    section.latest-blog h1 {
        padding-bottom: 10px;
    }
    a.banner-btn {
        padding: 8px 12px;
    }

    h1 {
        font-size: 26px;
        line-height: 32px;
        padding: 20px 0;
    }

    .business-app-area img {
        padding: 0;
    }

    a.business-btn {
        margin-top: 0;
    }

    .business-app-area img {
        padding: 30px 0;
    }

    section.free-quote h1 {
        padding-bottom: 10px;
    }

    a.quote-btn {
        margin: 0;
    }

    .text-center h1 {
        padding-top: 0;
        padding-bottom: 10px;
    }
    section.portfolio-area ul {
        padding-bottom: 20px;
    }
    section.portfolio-area li {
        padding: 0 5px;
        word-spacing: 5px;
        line-height: 24px;
    }
    .over-content {
        display: none;
    }

    section.great-product .col-lg-4,
    section.great-product .col-lg-3 {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .great-product-img {
        padding: 10px 0;
    }
    section.team-area .col-lg-6 {
        padding-top: 0;
    }

    section.team-area h1 {
        padding-right: 0;
    }
    section.team-area h1 {
        padding: 0 0 10px;
    }
    .social-icons a .fa-facebook-f,
    .social-icons a .fa-twitter,
    .social-icons a .fa-linkedin-in {
        font-size: 12px;
        margin: 5px;
    }

    .team-member:hover .social-icons {
        top: 44%;
        left: 17%;
    }
    section.team-area a.business-btn {
        margin-bottom: 20px;
    }

    section.latest-blog h1 {
        padding-bottom: 10px;
    }

    .single-blog {
        margin-top: 20px;
        padding: 20px;
    }
    .team-member h5 {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .team-member p {
        font-size: 12px;
        line-height: 16px;
    }

    .single-blog:after {
        display: none;
    }

    section.contact-area h1 {
        padding-bottom: 10px;
    }

    .carousel-cell {
        width: 100%;
        left: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    section.contact-area input[type="text"],
    section.contact-area input[type="email"] {
        width: 100%;
        margin-bottom: 14px;
    }
    section.contact-area input[type="text"]::placeholder,
    section.contact-area input[type="email"]::placeholder,
    section.contact-area textarea::placeholder {
        font-size: 12px;
    }
    section.footer-top h5 {
        padding-bottom: 5px;
    }

    .footer-social-icons {
        padding-bottom: 20px;
    }

    section.footer-top ul {
        padding-bottom: 20px;
    }

    section.footer-top li {
        padding: 2px 0;
    }
    ul#footer-social-icons li a {
        padding: 0 3px;
    }
    .footer-top button {
        padding: 8px 5px;
    }

    .footer-top input[type="email"] {
        width: 70%;
        padding: 7px;
    }

    section.copyright {
        padding: 20px 0;
    }


}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    p {
        font-size: 14px;
        line-height: 22px;
    }
    h1 {
        font-size: 28px;
        line-height: 38px;
    }
    .section-padding {
        padding: 30px 0;
    }
    header.header-area .col-lg-2 {
        position: absolute;
        z-index: 99;
    }

    .logo {
        margin-top: 10px;
    }
    div#mobile-menu {
        width: 100%;
    }
    .responsive-mode {
        display: inherit;
    }
    .desktop-mode {
        display: none;
    }
    header.header-area .container {
        min-width: 100%;
    }
    nav.navigation {
        display: none;
    }

    .banner-bg-img {
        background-image: none;
    }
    .padding-bottom-80 {
        padding-bottom: 20px;
    }
    .slicknav_menu {
        background: none;
        display: inline-block;
        position: absolute;
        right: 5%;
    }
    ul.slicknav_nav {
        background: #000;
        width: 200px;
    }

    ul.slicknav_nav li {
        display: block;
        text-align: left;
    }
    div#mobile-menu {
        text-align: right;
    }


    .slicknav_btn {
        background: none;
        outline: none;
    }


    .slicknav_menu .slicknav_menutxt {
        display: none;
    }

    header.header-area {
        padding: 0;
    }

    .slicknav_menu .slicknav_icon-bar {
        width: 40px;
        height: 3px;
        margin: 5px 0;
    }
    header.header-area {
        position: relative;
        background: #3387ff;
    }

    section.banner-area {
        height: 500px;
    }

    .banner-item h1 {
        font-size: 26px;
        line-height: 30px;
        padding: 14px 0;
    }

    ul.slicknav_nav li a {
        font-weight: 400;
        padding: 10px;
    }

    ul.slicknav_nav li a:hover {
        background: #3387ff;
        color: #fff;
    }

    .slicknav_nav a:hover {
        border: none;
        border-radius: 0;
    }

    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        margin: 0;
    }
    a.banner-btn {
        margin: 10px 10px 0 0;
    }
    div#mobile-menu {
        position: relative;
        height: 70px;
        width: 100%;
        background: #000;
        border: none;
    }

    header.header-area .col-12 {
        padding: 0;
        margin: 0;
    }
    a.banner-btn {
        padding: 8px 12px;
    }
    a.banner-btn {
        padding: 8px 12px;
    }

    h1 {
        font-size: 26px;
        line-height: 32px;
        padding: 20px 0;
    }

    .business-app-area img {
        padding: 0;
    }

    a.business-btn {
        margin-top: 0;
    }

    .business-app-area img {
        padding: 30px 0;
    }

    section.free-quote h1 {
        padding-bottom: 10px;
    }

    a.quote-btn {
        margin: 0;
    }

    .text-center h1 {
        padding-bottom: 10px;
    }

    section.portfolio-area li {
        padding: 0 5px;
        word-spacing: 5px;
        line-height: 24px;
    }

    section.great-product .col-lg-4,
    section.great-product .col-lg-3 {
        padding-top: 0;
        padding-bottom: 20px;
    }

    section.team-area .col-lg-6 {
        padding-top: 0;
    }

    section.team-area h1 {
        padding-right: 0;
    }

    section.latest-blog h1 {
        padding-bottom: 10px;
    }
    a.banner-btn {
        padding: 8px 12px;
    }

    h1 {
        font-size: 26px;
        line-height: 32px;
        padding: 20px 0;
    }

    .business-app-area img {
        padding: 0;
    }

    a.business-btn {
        margin-top: 0;
    }

    .business-app-area img {
        padding: 30px 0;
    }

    section.free-quote h1 {
        padding-bottom: 10px;
    }

    a.quote-btn {
        margin: 0;
    }

    .text-center h1 {
        padding-top: 0;
        padding-bottom: 10px;
    }
    section.portfolio-area ul {
        padding-bottom: 20px;
    }
    section.portfolio-area li {
        padding: 0 5px;
        word-spacing: 5px;
        line-height: 24px;
    }
    .over-content {
        display: none;
    }

    section.great-product .col-lg-4,
    section.great-product .col-lg-3 {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .great-product-img {
        padding: 10px 0;
    }
    section.team-area .col-lg-6 {
        padding-top: 0;
    }

    section.team-area h1 {
        padding-right: 0;
    }
    section.team-area h1 {
        padding: 0 0 10px;
    }

    .social-icons a .fa-facebook-f,
    .social-icons a .fa-twitter,
    .social-icons a .fa-linkedin-in {
        font-size: 12px;
        margin: 5px;
    }

    .team-member:hover .social-icons {
        top: 72%;
        left: 32%;
    }
    section.team-area a.business-btn {
        margin-bottom: 20px;
    }

    section.latest-blog h1 {
        padding-bottom: 10px;
    }

    .single-blog {
        margin-top: 20px;
        padding: 20px;
    }
    .team-member h5 {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .team-member p {
        font-size: 12px;
        line-height: 16px;
    }

    .single-blog:after {
        display: none;
    }

    section.contact-area h1 {
        padding-bottom: 10px;
    }

    .carousel-cell {
        width: 100%;
        height: 300px;
        left: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    section.contact-area input[type="text"],
    section.contact-area input[type="email"] {
        width: 100%;
        margin-bottom: 14px;
    }
    section.contact-area input[type="text"]::placeholder,
    section.contact-area input[type="email"]::placeholder,
    section.contact-area textarea::placeholder {
        font-size: 12px;
    }
    section.footer-top h5 {
        padding-bottom: 5px;
    }

    .footer-social-icons {
        padding-bottom: 20px;
    }

    section.footer-top ul {
        padding-bottom: 20px;
    }

    section.footer-top li {
        padding: 2px 0;
    }
    ul#footer-social-icons li a {
        padding: 0 3px;
    }
    .footer-top .col-lg-5.offset-lg-1.col-md-6 {
        width: 50%;
    }

    .footer-top button {
        padding: 10px 5px;
        font-size: 11px;
    }
    .footer-top input[type="email"] {
        width: 70%;
        padding: 7px;
    }

    section.copyright {
        padding: 20px 0;
    }


}
